.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}
.button {
    font-size: 18px;
    background: #FF5A5F;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    border-style: none;
    right: 30px;
    top: 15%;
    position: absolute;
    color: #FFFFFF;
}
button:hover {
    opacity: 0.9;
}
.locations {
    border: 1px solid #DDDDDD;
    height: 100%;
    width: 25%;
}
.amenities {
    height: 100%;
    width: 25%;
}
.locations:hover .popover {
    display: block;
}
.amenities:hover .popover {
    display: block;
}
h2 {
    font-weight: 600;
    margin-left: 15%;
}
.popover {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: none;
    padding-bottom: 0px;
    width: 100%;
}
.popover ul {
    list-style-type: none;
}
li {
    padding: 5px;
    list-style-type: none;
}
.filters div {
    display: inline-block;
    height: 100%;
    width: 25%;
}
h3 {
    margin-left: 15%;
    margin-bottom: 0;
    font-weight: 600;
}
h4 {
    margin-left: 15%;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
}
